
{% extends 'Labels_Nudges/main.html'%}
{%load static%}
{% block content %}
<style>
    h1 {
    
      margin: auto;
      text-align:center;
    }
    </style>
<div class="header-bar">
    <!-- <div class="row"> -->
    <div class="col-lg-2">
        <img src="{% static 'icon/icon4.jpeg'%}" alt="" style=" 
            width: 140px;">
    </div>
    <div >
        <h1>News Research: Climate Change</h1>
        
    </div>
    <!-- </div> -->
</div>


<div class="container">

    <h2 style="margin: auto; padding: 20px; text-align: center;">Welcome </h2>



    <p>Welcome to our study! This study aims to provide insight in the extent to which recommender systems can be effective in mitigating polarized opinions.
        This study is part of the PhD research of Jia-Hua Jeng and Ayoub El Majjodi
        at the University of Bergen, Norway, under the supervision of Prof. Christoph Trattner (UiB), Assoc. Prof. Alain Dominique Starke (UiB), Dr. Erik Knudsen (UiB) and Prof. Helle Sjøvaag (UiS).
        <br>
        Please carefully read the procedure followed in this study to give your informed consent for voluntary
        participation*. 
    </p>
    <b>Procedure</b>
    <p>
You will be first asked to answer a few questions about your personal characteristics and attitude toward climate change. Next, you will be presented with a list of ten news items. Afterwards, you will be asked a few questions after reading the article.

    </p>
    <b>Duration</b>
    <p>The study takes around 10 minutes to complete. By clicking the <b>'Start'</b>
        button, you agree to have read and understood this consent form.</p>
    <p><b>Note:</b> <b style="color: red;">Due to the complex computations involved, page loading time may take up to 1 min. 
        Please bear with us and thank you for your patience.</b></p>

    <div style="text-align: center;">
        <a type="button" value="Start" class="btn-lg" href="{% url 'Labels_Nudges:personal_info' %}"> Start </a>
    </div>
    <hr style="  border: 0; 
height: 1px; 
background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);" />
    <p style="font-size: 14px; padding-top: 10px; padding-bottom: 10px; color: black;"> <i
            style="color: red;">*</i> 
            The collected information is used for writing scientific
             publications and is only reported at the group level. Your personal information 
             is processed anonymously and it cannot be traced back to you. 
             For questions about the study, please contact the experimenter, Jia-Hua Jeng: Jia-Hua.Jeng@uib.no / Ayoub El Majjodi: ayoub.majjodi@uib.no
    </p>

</div>

{% endblock%}
